{
	"extends": [
	"oclif",
	"oclif-typescript"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
	"plugins": ["@typescript-eslint"],
  "rules": {
		"no-implicit-dependencies": [2,["@"]],
		"no-console": 0,
		"quotemark": [2,"single"],
		"indent": [2, 2, {"SwitchCase": 1}],
		"no-default-export": 2,
		"interface-name": 0,
		"ordered-imports": 2,
		"object-literal-sort-keys": 0,
		"no-consecutive-blank-lines": 0,
		"whitespace": 2,
		"no-any": 0,
		"no-conditional-assignment": 2,
		"no-debugger": 2,
		"no-duplicate-imports": 2,
		"no-var-requires": 2,
		"no-var-keyword": 2,
		"no-duplicate-variable": 2,
		"no-duplicate-switch-case": 2,
		"no-empty": 2,
		"no-eval": 2,
		"no-inferrable-types": 2,
		"no-empty-interface": 2,
		"no-floating-promises": 2,
		"no-invalid-template-strings": 2,
		"no-invalid-this": 2,
		"no-misused-new": 2,
		"no-inferred-empty-object-type": 2,
		"no-duplicate-super": 2,
		"no-irregular-whitespace": 2,
		"no-mergeable-namespace": 2,
		"no-parameter-reassignment": 2,
		"no-redundant-jsdoc": 2,
		"no-reference": 2,
		"no-return-await": 2,
		"no-shadowed-variable": 2,
		"no-this-assignment": 2,
		"no-trailing-whitespace": 2,
		"no-string-literal": 2,
		"no-string-throw": 2,
		"no-unbound-method": 2,
		"no-unnecessary-callback-wrapper": 2,
		"no-unnecessary-class": 2,
		"no-unnecessary-initializer": 2,
		"no-unnecessary-qualifier": 2,
		"no-unnecessary-type-assertion": 2,
		"no-unsafe-any": 2,
		"no-unsafe-finally": 2,
		"no-unused-variable": 2,
		"no-unused-expression": 2,
		"no-use-before-declare": 2,
		"no-void-expression": 2,
		"adjacent-overload-signatures": 2,
		"align": 2,
		"array-type": 0,
		"await-promise": 2,
		"arrow-return-shorthand": 2,
		"binary-expression-operand-order": 2,
		"comment-format": [
			2,
			"check-space",
			"check-uppercase",
			"allow-trailing-lowercase"
		],
		"curly": 2,
		"cyclomatic-complexity": 2,
		"deprecation": 2,
		"encoding": 2,
		"eofline": 2,
		"import-spacing": 2,
		"max-classes-per-file": [
			2,
			1
		],
		"max-file-line-count": [
			2,
			1000
		],
		"max-line-length": [
			2,
			100
		],
		"member-access": 2,
		"member-ordering": 2,
		"number-literal-format": 2,
		"new-parens": 2,
		"newline-before-return": 2,
		"newline-per-chained-call": 2,
		"one-variable-per-declaration": 2,
		"only-arrow-functions": 0,
		"prefer-const": 2,
		"prefer-for-of": 2,
		"prefer-method-signature": 2,
		"prefer-object-spread": 2,
		"prefer-readonly": 2,
		"prefer-template": 2,
		"prefer-while": 2,
		"promise-function-async": 2,
		"radix": 2,
		"restrict-plus-operands": 2,
		"return-undefined": 2,
		"semi": "error",
		"space-before-function-paren": 2,
		"space-within-parens": 0,
		"strict-boolean-expressions": 2,
		"strict-type-predicates": 2,
		"switch-default": 2,
		"trailing-comma": 2,
		"triple-equals": 2,
		"type-literal-delimiter": 2,
		"typedef": 2,
		"typeof-compare": 2,
		"unified-signatures": 2,
		"use-default-type-parameter": 2,
		"variable-name": {
			"options": [
				"ban-keywords",
				"check-format",
				"allow-leading-underscore"
			]
		},
		"interface-over-type-literal": 0
	}
}
