{
	"extends": [
	"oclif",
	"oclif-typescript"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
	"plugins": ["@typescript-eslint"],
  "rules": {
		"no-console": 1,		
		"no-extra-semi": 2,
		"semi": [2, "always"],
		"semi-spacing": 2,
		"quotes": [2, "single"],
		"indent": [2, 2, {"SwitchCase": 1}],
		"interface-name": 0,
		"object-literal-sort-keys": 0,
		"no-consecutive-blank-lines": 0,
		"no-any": 0,
		"no-var": 0,
		"no-cond-assign": 2,
		"no-debugger": 2,
		"no-duplicate-imports": 2,
		"no-empty": 2,
		"no-eval": 2,
		"no-invalid-this": 2,
		"no-irregular-whitespace": 2,
		"no-return-await": 2,
		"no-trailing-spaces": 2,
		"no-empty-character-class": 2,
		"no-unsafe-finally": 2,
		"no-unused-vars": 2,
		"no-unused-expressions": 2,
		"no-undef": 2,
		"array-type": 0,
		"require-await": 2,
		"prefer-arrow-callback": 2,
		"arrow-spacing": 2,
		"spaced-comment": 2,
		"curly": 2,
		"complexity": 2,
		"max-classes-per-file": [
			2,
			1
		],
		"max-len": [
			2,
			1000
		],
		"max-lines": [
			2,
			200
		],
		"new-parens": 2,
		"newline-before-return": 2,
		"newline-per-chained-call": 2,
		"only-arrow-functions": 0,
		"prefer-const": 2,
		"prefer-object-spread": 2,
		"prefer-template": 2,
		"radix": 2,
		"no-else-return": 2,
		"object-curly-spacing": ["error", "always"],
		"space-before-function-paren": 2,
		"space-within-parens": 0,
		"no-eq-null": 2,
		"comma-dangle": 2,
		"eqeqeq": 2,
		"valid-typeof": 2,
		"block-scoped-var": 2,
		"interface-over-type-literal": 0
	}
}
