// @import "~highlight.js/styles/github.css";
// @import "../public/flaticon/flaticon.css";
// @import "@/theme/brand.scss";
// @import "@/theme/bulma.scss";
@import "./tailwind.css";

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	color: #222;
	line-height: 1.2;
	font-size: 16px;
}

$color-positive: #75a156;

.d {
	&-text-positive {
		color: $color-positive;
	}
	&-border-positive {
		border-color: $color-positive;
	}
}
