@import '@/themes/index.scss';

.app {

  //@include apply-base-theme();
  //@include apply-theme('default');

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $theme-font-family;
  font-size: $theme-font-size;
  font-weight: $theme-font-weight;
  
  height: 100vh;
  overflow-y: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem auto;
  grid-template-areas:
    "navigation"
    "main-content";

  // --------------------------------------------------------------------------
  // Child Components
  // --------------------------------------------------------------------------
  
  main {
    display: grid;
    grid-area: main-content;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}
