* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Make 1rem = 10px */
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  margin: 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0rem;
}

.theme {
  background-color: $theme-background-color;
  color: $theme-font-color;
  a {
    color: $theme-link-color;
  }
}