@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

$primary-font-family: "Roboto";
$secondary-font-family: "Raleway";

html {
	@apply h-full;
	@apply w-full;
}
body {
	@apply grid;
	@apply h-full;
	@apply w-full;
	font-family: $primary-font-family;
	font-size: 16px;
	a {
		font-family: $primary-font-family;
		@apply underline;
	}

	li a {
		@apply no-underline;
	}

	h1 {
		font-family: $secondary-font-family;
		font-size: 30px;
		font-weight: 800;
	}

	h2 {
		font-family: $secondary-font-family;
		font-size: 22px;
		font-weight: 700;
	}

	h3 {
		font-family: $secondary-font-family;
		font-size: 18px;
		font-weight: 700;
	}

	p {
		font-family: $primary-font-family;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

body::-webkit-scrollbar {
	display: none;
}
