.home-view {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    /**
     * Add child element selectors here.
     * For example:
     *
     * .my-child-element {
     *    color: red;
     *  }    
     */
     
}
